.auth-body {
    height: 100%;
    background: #f8f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-wraper {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
    border-radius: 5px;
    position: relative;
}

.auth-card {
    position: relative;
    background: #fff;
    padding: 30px;
}

.auth-form-wraper::before{
    content: "";
    position: absolute;
    top: -100px;
    left: -40px;
    width: 240px;
    height: 235px;
    background: url(/src/assets/login-bg.svg);
}

.auth-form-head {
    margin-bottom: 30px;
}

.auth-form-logo img {
    width: 60px;
}

.auth-form-head h2 {
    font-size: var(--size22);
    margin: 5px 0;
    color: var(--primary-color);
    font-family: var(--family);
    font-weight: var(--weight-medium);
}

.auth-form-head p {
    color: rgba(82, 82, 108, 0.8);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size16);
}

.auth-form-body .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.auth-form-body .form-group label {
    margin-bottom: 5px;
    color: var(--primary-color);
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size14);
    
}

.auth-form-body .form-group input {
    width: 100%;
    outline: none;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid #d0d5dd;
    background: #fff;
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size14);
}

.auth-form-body .form-group .input-wrap {
    position: relative;
}

.eye-btn {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}

.forgot-btn-wrap {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-btn-wrap button {
    color: var(--primary-color);
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: var(--size14);
}

.auth-form-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.auth-form-btn .site-btn {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
    outline: none;
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size14);
    transition: 0.5s all;
    cursor: pointer;
}

.auth-form-btn .btn-secondery {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.platform {
    text-align: center;
    margin-top: 20px;
    color: var(--primary-color);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size14);
}

.platform span {
    margin-right: 3px;
}

.platform a {
    color: rgba(82, 82, 108, 0.8);
}

.auth-form-btn .site-btn[disabled] {
   height: 42px;
}

.auth-form-btn .site-btn svg {
    font-size: 18px;
    transform: translateY(4px);
    margin-left: 5px;
}


.loader_button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.spinner > div {
    background: #fff;
    animation: sk-stretchdelay 1.2s ease-in-out infinite;
    border-radius: 4px;
    display: block;
    margin-left: 3px;
    width: 3px;
    height: 100%;
}

.spinner .rect2 {
    animation-delay: -1.1s
}

.spinner .rect3 {
    animation-delay: -1s
}

.spinner .rect4 {
    animation-delay: -.9s
}

.spinner .rect5 {
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {
    0%,40%,to {
        -webkit-transform: scaleY(.4)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {
    0%,40%,to {
        transform: scaleY(.4)
    }

    20% {
        transform: scaleY(1)
    }
}


