.site-wraper {
    min-height: 100vh;
    display: flex;
}


/********* Sidebar ********/

.sidebar {
    transition: all 0.2s, background 0s;
    position: relative;
    /* background: #006666; */
    background: #007f68;
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
    width: 100%;
    max-width: 300px;
}

.sider {
    position: fixed;
    width: 300px;
    transition: all 0.2s, background 0s;
    height: 100%;
}

.sidebar_logo {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar_logo .site_logo {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle_sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.toggle_sidebar .toggle_icon {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle_sidebar .toggle_icon svg {
    color: #fff;
    font-size: var( --size22);
}

.sidebar_logo img {
    width: 50px;
}

.sidebar_logo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: var( --size30);
    font-family: var(--family);
    font-weight: var(--weight-bold);
}

.sidebar_menu {
    padding: 0 20px;
}

.sidebar_menu li {
    list-style: none;
}

.sidebar_menu li a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 10px;
    border-radius: 12px;
    text-decoration: none;
    position: relative;
}

.sidebar_menu li a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar_menu li a svg {
    font-size: var( --size20);
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar_menu li a span {
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size16);
    color: #fff;
}

.sidebar_menu li a .sub_menu_icon {
    position: absolute;
    right: 20px;
    top: 15px;
}

.sidebar_menu li a .sub_menu_icon svg {
    margin: 0;
    font-size: initial;
    color: rgba(255, 255, 255, 0.8);
}

.sub_menu {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.sub_menu li a {
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size14);
    margin: 0;
    padding: 8px 10px 8px 50px;
}

.sub_menu:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 0;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 20px;
    transition: height 0.5s;
}

.sidebar_menu ul.sub_menu.active:before {
    height: calc(100% - 30px);
    transition: height 0.5s;
}

.sub_menu li a:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    border-radius: 100%;
    background: #fff;
}

.sub_menu li a:after {
    content: "";
    position: absolute;
    top: 10%;
    width: 13px;
    height: 15px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    left: 20px;
}


/********* Site Main and Header********/

.site_main {
    width: 100%;
    background: #ededed;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.main_header {
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
}

.header-right {
    width: 50%;
}

.profile_cover {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.profile_cover .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_cover .icon button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.profile_cover .icon button svg {
    color: #00a46f;
    font-size: var(--size22);
    
}

.profile_cover .img_icon {
    position: relative;
    background: #00a46f;
    border-radius: 50px;
}

.profile_cover .img_icon button svg {
    color: #fff;
}

.profile_cover .profile {
    position: absolute;
    top: 50px;
    width: 150px;
    right: 0;
    border: 1px solid #dcdfe4;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    transition: 0.5s all;
    transform: scale(0);
}

.profile_cover .profile.visible{
    transform-origin: 100px 0;
    transition: 0.5s all;
    transform: scale(1);
}

.profile_cover .profile ul {
    background: #fff;
    padding: 6px 10px;
}

.profile_cover .profile ul li {
    list-style: none;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

.profile_cover .profile ul li svg {
    font-size: var(--size20);
    color: #212636;
}

.profile_cover .profile ul li  span {
    color: #212636;
    font-size: var(--size14);
    font-family: var(--family);
    font-weight: var(--weight-regular);
}

.profile_cover .profile ul li:hover {
    transition: 0.5s all;
    background: #d7d7d799;
    border-radius: 5px;
}

.header_left {
    width: 50%;
}

.header_left h4 {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size16);
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.header_left p {
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size12);
    color: rgba(82, 82, 108, 0.8);
}

.header_left h4 span {
    background: #00a46f;
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;
    font-size: var(--size14);
    margin-left: 5px;
}

.header_left h4 img{
    height: 30px;
    margin-left: 5px;
}

/********* Body ********/


.main_body {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


/********* footer ********/

footer p {
    text-align: center;
    margin-top: 15px;
    color: #000;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
}