.top_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.top_bar .box {
    background: linear-gradient(135deg, #00A76F, #007867);
    border-radius: 5px;
    padding: 15px 15px;
}

.top_bar .box svg {
    color: #fff;
    font-size: var(--size30);
}

.top_bar .box h3 {
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size30);
    color: #fff;
    margin: 5px 0;
}

.top_bar .box span {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size12);
    color: #fff;
}

.dashboard_filter .left {
    width: 10%;
}

.dashboard_filter  .right {
    width: 90%;
}

.dashboard_filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
}

.dashboard_filter .left span {
    background: linear-gradient(135deg, #00A76F, #007867);
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    letter-spacing: 0.5px;
}

.dashboard_filter form {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.dashboard_filter form select {
    padding: 8px 15px;
    width: 100%;
    outline: none;
    border: 1px solid #00a46f;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    border-radius: 5px;
}

.dashboard_filter .custom_date_picker .rmdp-input {
    padding: 8px 35px 8px 15px;
    outline: none;
    border: 1px solid #00a46f;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    border-radius: 5px;
    height: auto;
    margin: 0;
}

.dashboard_filter form .btn_group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard_filter form .btn_group button {
    width: 100%;
    padding: 8px 15px;
    border: 0;
    background: linear-gradient(135deg, #00A76F, #007867);
    border-radius: 5px;
    color: #fff;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    cursor: pointer;
}
 
   