.top_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.top_bar .box {
    border: 1px solid #D1D5DB;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 15px;
    position: relative;
}

.top_bar .blue {
    background: linear-gradient(to right, #FFFFFF, #EFF4FF);
}

.top_bar .red {
    background: linear-gradient(to right, #FFFFFF, #EAFFF9);
}

.top_bar .green {
    background: linear-gradient(to right, #FFFFFF, #FFF5E9);
}

.top_bar .orange {
    background: linear-gradient(to right, #FFFFFF, #F3EEFF);
}

.top_bar .purple {
    background: linear-gradient(to right, #FFFFFF, #FFF2FE);
}

.top_bar .yellow {
    background: linear-gradient(to right, #FFFFFF, #EEFBFF);
}

.top_bar .box .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_bar .box .disc {
    margin-left: 15px;
}

.top_bar .box img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.top_bar .box .icon svg {
    color: #fff;
    font-size: var(--size25);
}

.top_bar .box .disc h3 {
    font-family: var(--family);
    font-weight: var(--weight-regular);
    font-size: var(--size22);
    color: #111827;
}

.top_bar .box .disc span {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size12);
    color: #4B5563;
}

/********** Filter **************/

.dashboard_filter  .right {
    width: 100%;
}

.dashboard_filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
}

.dashboard_filter .left span {
    background: #405189;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    letter-spacing: 0.5px;
}

.dashboard_filter form {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.dashboard_filter form  .form_group {
    width: 25%;
}

.dashboard_filter form select {
    padding: 8px 15px;
    width: 100%;
    outline: none;
    border: 1px solid #405189;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    border-radius: 5px;
}

.dashboard_filter .custom_date_picker .rmdp-container {
    display: block !important;
}

.dashboard_filter .custom_date_picker .rmdp-input {
    padding: 8px 35px 8px 15px;
    outline: none;
    border: 1px solid #405189;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin: 0;
}

.dashboard_filter .custom_date_picker .rmdp-input::placeholder {
    color: #000;
}

.dashboard_filter form .btn_group {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 25%;
}

.dashboard_filter form .btn_group button {
    width: 100%;
    padding: 8px 15px;
    border: 0;
    background: #405189;
    border-radius: 5px;
    color: #fff;
    font-size: var(--size16);
    font-family: var(--family);
    font-weight: var(--weight-regular);
    text-transform: capitalize;
    cursor: pointer;
}
 
.dashboard_filter .custom_date_picker .rmdp-header {
    font-family: var(--family);
    font-weight: var(--weight-regular);
}

.dashboard_filter .custom_date_picker .rmdp-header button i {
    border: solid #405189;
    border-width: 0 2px 2px 0;
}

.dashboard_filter .custom_date_picker .rmdp-day-picker {
    font-family: var(--family);
    font-weight: var(--weight-regular);
}

.dashboard_filter .custom_date_picker .rmdp-day-picker .rmdp-week-day {
    color: #405189;
}
.dashboard_filter .custom_date_picker .rmdp-day-picker .rmdp-week .rmdp-today span {
    background-color: #405189;
}

/********** Chart ************/

.chart_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

.chart_box {
    background: #fff;
    padding: 15px;
    border: 1px solid #eae8f1;
    box-shadow: -8px 12px 18px 0 #dadee8;
    border-radius: 5px;
}

.chart_box h2 {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size14);
    text-transform: capitalize;
    background: #487fff;
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;
    display: inline-block;
}

.chart_box .txt {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size12);
    color: #4B5563;
}

.target_chart_wrap {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.target_chart_wrap .left {
    width: 50%;
}

.target_chart_wrap .right {
    width: 50%;
}

.target_chart_wrap .content {
    margin: 20px 0 0 20px;
}

.target_chart_wrap .content p {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size14);
    color: #4B5563;
    margin-bottom: 5px;
}

.target_chart_wrap .content span {
    font-family: var(--family);
    font-weight: var(--weight-medium);
    font-size: var(--size12);
    color: #4B5563;
    text-transform: capitalize;
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}

.target_chart_wrap .content .s1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #fddf00;
}

.target_chart_wrap .content .s2:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #248dfd;
}

.chart_wrap.buyers_chart {
    grid-template-columns: 1fr;
}

.knocks h2 {
    background: linear-gradient(to right, rgb(1, 98, 232) 0, rgba(1, 98, 232, 0.5) 100%);
}

.target_achieve h2 {
    background: linear-gradient(45deg, #f93a5a, #f7778c);
}

.usership h2 {
    background: linear-gradient(to left, #48d6a8 0, #029666 100%);
}

.pitches h2 {
    background: linear-gradient(to left, #efa65f, #f76a2d);
}

.buyers_chart h2 {
    background: linear-gradient(to right, rgb(72,0,201) 0, #884af1 100%);
}

.door_answered h2 {
    background: linear-gradient(to right, rgb(1, 98, 232) 0, rgba(1, 98, 232, 0.5) 100%);
}

.deals h2 {
    background: linear-gradient(45deg, #f93a5a, #f7778c);
}

/********* Responsive ********/   

@media (max-width:1366px){
    .top_bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}