@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #202f5f;
}
body::-webkit-scrollbar-track {
  background: #d1d2d4;
}

:root {
  --family:  "Poppins", system-ui;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --size30: 30px;
  --size25: 25px;
  --size22: 22px;
  --size20: 20px;
  --size16: 16px;
  --size14: 14px;
  --size12: 12px;
  --primary-color:#00a46f;
}

body{
  height: 100vh;
}

#root {
  height: 100%;
}